<div class="container mt-5">
  <h1>Your question:</h1>
  <p class="lead"><%= @question %></p>

  <h1>Coach's answer:</h1>
  <p class="lead fw-bold"><%= @answer %></p>

  <%= link_to "Ask another question", ask_path, class: "btn btn-secondary" %>
</div>
